/* Font overriding classes */
.font-eberron {
  font-family: 'eberron', sans-serif;
}
.font-celestia {
  font-family: 'celestia', sans-serif;
}
.font-infernal {
  font-family: 'infernal';
  font-size: 2rem;
  line-height: 1em;
}
.font-enochian {
  font-family: 'enochian';
  font-size: 1.5rem;
  line-height: 1em;
}
.font-dwarf,.font-dwarven {
  font-family: 'dwarf';
}
.font-magi,.font-kshaali {
  font-family: 'magi';
}
.font-hymmnos {
  font-family: 'hymmnos';
  font-size: 2rem;
  line-height: 1em;
}
.font-giant {
  font-family: 'giant';
  font-size: 1.5rem;
  line-height: 1em;
}
.font-angelic {
  font-family: 'angelic';
  font-size: 1.5rem;
  line-height: 1em;
}
.font-ar-ciela,.font-old-ornian {
  font-family: 'ar-ciela';
  font-size: 2rem;
  line-height: 1em;
}
.font-high-fiber {
  font-family: 'high-fiber', sans-serif;
  font-size: 1.5rem;
}

.gold {
  transform: translate(-50%,-50%);
  background-image: linear-gradient(
    to right,
    #4b3020 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #4b3020 100%
  );
  color: transparent;
  -webkit-background-clip: text;
}

/* navigation icons */
#n-Using-this-wiki ::before {
  content: "\f05a"; /* info */
}

#n-Foundry-VTT ::before {
  content: "\f0ac"; /* globe */
}

#n-Introduction ::before {
  content: "\f02d"; /* book */
}

#n-Setting-Rules ::before {
  content: "\f059"; /* question mark */
}

#n-Player-characters ::before {
  content: "\f0c0"; /* group */
}

#n-Character-generator ::before {
  content: "\f085"; /* user */
}

#n-City-generator ::before {
  content: "\f085"; /* cogs */
}

#accesscontrol {
  color: rgba(255, 67, 67, 0.69) !important;
}



/*
 	f70e scroll
*/

/* p, ul, ol, dl,
.thumbcaption,
.side-nav li a,
.toctogglelabel,
.mw-editsection a,
.mw-normal-catlinks a,
.infobox tr td {
  font-family: 'celestia', sans-serif;
} */

h1.title,
h2 span.mw-headline,
h3 span.mw-headline,
h4 span.mw-headline,
h5 span.mw-headline,
h6 span.mw-headline {
  font-family: 'pterra-dactyl', sans-serif;
}

.side-nav label.sidebar,
.title span,
h3#tagline,
h4.label,
span#page-actions,
.toctitle h2,
.mw-category-generated h2,
#personal-tools label,
.infobox tr th {
  font-family: 'pterra-dactyl', sans-serif;
}

.off-canvas-wrap {
  background-color: var(--color-primary-bg);
  min-height: 100vh;
  background: url("./../../../../resources/assets/bg.png") rgba(0,0,0,0.4);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main-section {
  max-width: 1366px;
  margin: 0 auto;
  background-color: var(--color-primary-bg);
  box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.8);

}

#toc ul, .toc ul {
  font-size: .85rem;
}

.toctitle h2 {
  font-size: 1.2rem;
}

.tocnumber {
  display: none;
}

.infobox {
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.5);
  margin: 0 0 14px 8px;
  max-width: 320px;
  float: right;
  color: var(--color-primary-text);
  background-color: var(--color-secondary-bg);
  border: 1px solid var(--color-border-color);
}

.infobox .thumbinner {
  /* margin: 0 auto; */
  width: 100% !important;
}

.infobox .thumbimage {
  width: 100%;
}

.infobox .thumbcaption {
  padding: 0 .25rem;
}

.infobox tr th {
  font-size: 1.2rem;
}

.template-link sup {
  font-size: 10px;
  font-family: sans-serif;
  position: absolute;
  top: .6rem;
  right: .5em;
}

.infobox td {
  vertical-align: baseline;
}

.infobox.noborder td {
  padding: 0;
}

.infobox td+td {
  max-width: 200px;
}

.table-container {
  margin: 0;
  overflow: scroll;
  width: auto;
  max-width: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.table-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

table tr th,
table tr td,
table ul {
  font-size: 0.875rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.toctitle h2 {
  padding: 2px 6px;
  margin-bottom: 0;
}

#mw-content-text ul#filetoc {
  margin: 0 0 1rem;
}

.mw-references-wrap {
  margin-bottom: 1em;
}

ol.references li:target {
  background-color: var(--color-label-bg);
}

#mw-content-text .handout {
  color: #333;
  font-family: 'high-fiber';
  font-size: 1.5em;
  background-color: rgb(243, 229, 204);
  box-shadow: 15px 15px 15px -10px black;
  padding: 8px 24px 10px 16px;
  margin-bottom: 1rem;
}

#mw-content-text .handout p,
#mw-content-text .handout dl,
#mw-content-text .handout dl dt,
#mw-content-text .handout dl dd {
  font-size: unset;
}

#mw-content-text .handout hr {
  border-color: #333;
}

.statblock {
  max-width: 600px;
}

.statblock .header {
  display: flex;
  position: relative;
}

.statblock .header p {
  background-color: var(--color-secondary-text);
  color: var(--color-dark-text);
  padding: 2px 6px;
  font-family: 'pterra-dactyl', sans-serif;
  margin-bottom: 0;
  font-size: 1.2rem;
  width: 100%;
}

.statblock .header sup {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.divider {
  text-transform: uppercase;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

#mw-content-text ul.gallery {
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

ul.gallery .gallerytext {
  display: none;
}

.mw-references-wrap {
  margin-bottom: 1em;
}

.mw-references-wrap .references {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.CategoryTreeToggle {
  color: var(--color-primary-link);
}

.CategoryTreeToggle:hover {
  color: var(--color-primary-hover-link);
}

.CategoryTreeEmptyBullet {
  color: var(--color-tertiary-text);
}

#mw-content-text .infobox ul {
  margin-bottom: 0;
}

#mw-content-text .infobox ul.gallery.mw-gallery-slideshow {
  margin: 0;
  padding: 0;
}

.infobox ul.gallery.mw-gallery-slideshow .mw-gallery-slideshow-buttons {
  padding: 0;
}

.infobox ul.gallery.mw-gallery-slideshow .mw-gallery-slideshow-buttons .oo-ui-buttonElement {
  margin: 0;
}

ul.mw-gallery-traditional li.gallerybox {
  width: 140px !important;
}
ul.mw-gallery-traditional li.gallerybox>div,
ul.mw-gallery-traditional li.gallerybox>div .thumb {
  width: 100% !important;
}

.catlinks {
  background: var(--color-primary-bg)
}

.printfooter {
  display: none;
}

.catlinks.catlinks-allhidden {
  display: none;
}

.catlinks ul,
#mw-content-text .navbox ul {
  display: inline;
  margin: 0;
  list-style: none;
}
.catlinks li,
.navbox li {
  display: inline;
}

.catlinks li a,
.navbox li a {
  margin-right: .25rem;
}

.catlinks li:last-of-type a,
.navbox li:last-of-type a {
  margin-right: 0;
}

/* .catlinks li:not(:last-of-type) a,
.navbox li:not(:last-of-type) a {

} */

.catlinks li:not(:last-of-type)::after,
.navbox li:not(:last-of-type)::after {
  content: "|";
  color: var(--color-border-color);
  margin-left: .25rem;
}

.catlinks li:not(:last-of-type)::after {
  margin-right: .25rem;
}

.mw-editsection {
  font-size: .8rem;
  margin-left: .5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .md-half {
  flex: 0 0 calc(50% - 0.3rem);
  padding: .5rem;
  margin-bottom: 1rem;
}

.container .full {
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
}

.frame-box {
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.5);
  border: 1px solid var(--color-border-color);
}

a.external {
  background-image: url("/w/resources/assets/external-link-ltr-icon.svg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: .8rem;
  padding-right: 1rem;
}

/* QUOTE */
blockquote p {
  color: var(--color-primary-text);
}

blockquote cite {
  color: var(--color-secondary-text);
}

blockquote cite a {
  color: var(--color-primary-link);
}

blockquote cite a:visited {
  color: var(--color-primary-link);
}

/* TABLE */
table.wikitable.navbox {
  color: var(--color-border-color);
}

table.wikitable.navbox tr th {
  background-color: var(--color-secondary-bg);
}

table.wikitable.navbox tr td {
  background-color: var(--color-primary-bg);
}

pre {
  background: var(--color-primary-bg);
  border:1px solid var(--color-border-color);
  padding:5px
}

.template-link {
  float: right;
}

.subpages+.mw-redirectedfrom {
  margin-left: .5rem;
}

@media only screen and (max-width: 650px) {
  .infobox {
    margin: 0;
    margin-bottom: 1rem;
    float: none;
    max-width: unset;
    width: 100%;
  }

  .container .md-half {
    flex: 0 0 100%;
  }

}

/* prevent uneven spacing around | that separate category links */
.catlinks li:not(:last-of-type) a {
  margin-right: 0;
}